.container {
  position: relative;
}

.App {
  align-items: flex-start;
  background: white;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: calc(25px * 25 + 2px);
}

.App .block {
  /* border: 1px solid #000; */
  box-sizing: border-box;
  font-size: 1em;
  font-weight: bold;
  height: calc(25px + 2px);
  line-height: calc(25px + 2px);
  text-align: center;
  width: 25px;
}

.block.top {
 border-top: 1px solid #000
}

.block.right {
 border-right: 1px solid #000
}

.block.bottom {
 border-bottom: 1px solid #000
}

.block.left {
 border-left: 1px solid #000
}

.logo {
  animation: logo-spin infinite 20s linear;
}

.count {
  animation: logo-spin infinite 1s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
